{% extends 'base.html' %}

{% block header %}
  <h1><a href="{{ url_for('scores.index') }}">{% block title %}Scores{% endblock %}</a></h1>
  <h1><a href="{{ url_for('vis.visual') }}">Visualisations</a></h1>
{% endblock %}

{% block content %}  

    <fieldset class = "query_wrapper">
        <legend><h3>Query</h3></legend>        
        <form class="query_form" method="post">
            <label for="invited">Has been emailed:</label>
            <label for="invited_yes">Yes</label>
            <input type="radio" name="invited" value="yes">            
            <label for="invited_no">No</label>
            <input type="radio" name="invited" value="no">
            <label for="invited_no">Any</label>
            <input type="radio" name="invited" value="any" checked="true">
            <br>
            <label for="score">Minimum player score:</label>
            <input type="number" name="min_score" min="0" placeholder="Enter Score">
            <br>
            <label for="score">Maximum player score:</label>
            <input type="number" name="max_score" min="0" placeholder="Enter Score">
            <br>
            <label for="join_date">Last played:</label>
            <input type="date" name="join_date">
            <br>
            <button type="submit">Submit</button>
        </form>
    </fieldset>
 

    <br><h3>User Data</h3>
    <h4>Displaying top {{ length }} results</h4>

    <div>
        <table class="scores_table">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Last Played</th>
                <th>Total Score</th>
                <th>Emailed</th>

            </tr>
            {% for value in values %}
                <tr>
                    <td>{{ value.name }}</td>
                    <td>{{ value.email }}</td>
                    <td>{{ value.last_played.strftime("%d-%m-%Y %H:%M")}}</td>
                    <td>{{ value.total_score }}</td>
                    <td>{{ value.has_been_emailed }}</td>

                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}